# path to yml config
CONFIG_PATH=yamlfile
# db
DB=postgres # it depends on which DB will be launched
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbname
DB_USER=postgres
DB_PASSWD=admin
DB_SSLMODE=disable
# mail
MAIL_HOST=example.com
MAIL_PORT=smtp.port
MAIL_USER=mail
MAIL_PASSWD=admin
#
# path to logs 
LOGS_PATH=logs/logs.txt
#
SECRET_PATH=/path/to/your/secret
# S3 MinIO
S3_ROOT_USER=
S3_ROOT_PASSWORD=
MINIO_USE_SSL=false
MINIO_CACHE_TTL=24h
MINIO_BUCKETS=users,orgs,workers
MINIO_MAX_BUCKET=20
MINIO_MAX_OBJECTS_PER_BUCKET=1000000
